ProductorConsumidor/noticias.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:element name="noticias" type="tipoNoticias"/>
	<xsd:complexType name="tipoNoticias">
		<xsd:sequence>
			<xsd:element name="noticia" maxOccurs="unbounded" type="tipoNoticia"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tipoNoticia">
		<xsd:sequence>
			<xsd:element name="titulo" type="xsd:string"/>
			<xsd:element name="contenido" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>